extends layout

block content
  div.row
    div.span6#age
      h2
      div.body
    div.span6#job
      h2
      div.body
  div.row
    div.span6#session
      h2
      div.body
    div.span6#talk
      h2
      div.body
  div.row
    div.span6#session-rel
      h2
      div.body
    div.span6#talk-rel
      h2
      div.body
  script(src= '/javascripts/jquery-1.8.3.min.js')
  script(src= '/javascripts/d3.v2.min.js')
  script(src= '/javascripts/main.js')
  