body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
    border-bottom: 1px solid #CCC;
    font-size: 18pt;
    color: #666;
    padding-left: 20px;
}
.span3, .span6 {
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px #666;
}